<section class="rw-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <form class="form--square form-email" action="https://hooks.zapier.com/hooks/catch/2167708/1evv81/" method="POST">
                                <h4 class="text-center">We’d love to hear from you! Say hello here (we’re very nice).</h4>
                                <div class="input-with-icon col-sm-6">
                                    <i class="icon-MaleFemale"></i>
                                    <input class="validate-required" type="text" name="name" placeholder="Your Name">
                                </div>
                                <div class="input-with-icon col-sm-6">
                                    <i class="icon-Email"></i>
                                    <input class="validate-required validate-email" type="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn--primary vpe">
                                        Submit Form
                                    </button>
                                </div>
                            </form>

                            <p style="padding: 15px;">You can also send us an email: hello@rockstar.wedding</p>
                        </div>
                    </div>

                </div>

            </section>
