<div class="footer" style="
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 15px;
">
  Ready for a chat? Drop us an email: <input type="text" style="
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
" data-com.agilebits.onepassword.user-edited="yes"><input type="submit" value="Say hello">
</div>
