<div class="nav-container"><nav>
        <div class="utility-bar bg--secondary hidden-md hidden-lg">
            <div class="nav-module right">
                <ul class="social-list">
                    <li>
                        <a href="https://www.facebook.com/rockstarweddingvideo/"><i class="socicon-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rockstar.wedding/"><i class="socicon-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/rockstar_wed"><i class="socicon-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-bar" data-fixed-at="700">
            <div class="nav-module logo-module left">
                <a href="/"><div class="vnu"><img alt="logo" class="logo logo-dark" src="/img/dark_logo_transparent_background.png"></div></a>
            </div>
            <div class="nav-module menu-module left">
                <ul class="menu">
                    <li>
                        <a href="/">Home</a>
                    </li><li class="vpf">
                        <a href="/how-it-works">how it works </a>
                    </li><!-- <li class="vpf">
                        <a href="/about-rockstar-wedding">About</a>
                    </li> --><li class="vpf">
                        <a href="/gallery">gallery</a>
                    </li><li class="vpf">
                        <a href="/packages-and-pricing">packages &amp; pricing</a>
                    </li><li class="vpf">
                        <a href="/reviews">testimonials</a>
                    </li><li class="vpf">
                        <a href="/blog">blog</a>
                    </li><li class="vpf">
                        <a href="/contact-us">contact us</a>
                    </li>
                </ul>
            </div>
            <div class="nav-module right hidden-sm">
                <ul class="social-list main-nav-social-list">
                    <li>
                        <a href="https://www.facebook.com/rockstarweddingvideo/"><i class="socicon-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rockstar.wedding/"><i class="socicon-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/rockstar_wed"><i class="socicon-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-mobile-toggle visible-sm visible-xs">
            <i class="icon-Align-JustifyAll icon icon--sm"></i>
        </div>
    </nav>










</div>
