<div class="main-container">
	<section class="cover cover-10">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center home-lead">
                  <img alt="Rockstar Wedding" class="logo" src="img/dark_logo_transparent_background.png">
                  <p class="lead">You film. We edit.</p>
                  <p class="sublead">Wedding videos with personality</p>
              </div>
          </div>

          <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                  <p>We've done something wrong... <a href="/">How about you head home?</a></p>
              </div>
          </div>
      </div>
  </section>
</div>
