<div class="main-container">
  <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center header-lead">
              <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background.png">
              <h1 class="lead">About Rockstar Wedding</h1>
          </div>
      </div>
    </div>
  </section>

  <section class="features features-4">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <h3>My name is&nbsp;<em>Hayley.</em></h3>
                    <p class="lead">And I am Rockstar Wedding.</p>
                    <div class="feature">
                        <h5>Why I started Rockstar Wedding</h5>
                        <p>
                            In 2016 I got married, but we didn't want the usual same-shot, awkward wedding video that you can often see when you hire a videographer. We decided we would buy a couple of camera's and let our family and friends film our wedding - with amazing results!&nbsp;&nbsp;The fun, silliness and joy we got when our Brother, Dad or Best Friends filmed our guests was far beyond anything we could have imagined - making sure we saw all the bits we missed on our big day!</p>
                    </div>
                    <div class="feature">
                        <h5>What is my background?</h5>
                        <p>
                            I've been working in TV production for 10 years on well known programmes such as You've Been Framed, .., .., most recently Edit Producing Love Island. So, when you book with Rockstar Wedding, you're getting TV broadcast experience to edit your wedding video!<br></p>
                    </div>
                </div>
                <div class="col-md-7 features__avatar">
                    <img alt="avatar" src="img/avatar-large-1.png">
                </div>
            </div>

        </div>

    </section>
</div>
