
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Rockstar Wedding Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">


		<div class="nav-container">
		</div>

		<div class="main-container">
		<section>
		                <div class="container">
		                    <div class="row">
		                        <div class="masonry masonry-blog">
		                            <div class="masonry__container masonry--animate masonry--active">
		                                <div class="col-sm-12 masonry__item">
		                                    <a href="#">
		                                        <div class="card card--horizontal card-6">
		                                            <div class="card__image col-sm-7 col-md-8">
		                                                <div class="background-image-holder">
		                                                    <img alt="Pic" src="img/truff-wedding.png">
		                                                </div>
		                                            </div>
		                                            <div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">
		                                                <h6>THE truffs. EST 2016</h6>
		                                                <div class="card__title">
		                                                    <h4>Confetti canons, animal onesies and Let's Party hats</h4>
		                                                </div>
		                                                <p>
		                                                    Our wedding...</p>
		                                                <hr>
		                                                <div class="card__lower">
		                                                    <span>by</span>
		                                                    <span class="h6">HAYLEY TRUFITT</span>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </a>
		                                </div>







		                            </div>

		                        </div>

		                    </div>
		                    <div class="pagination-container">
		                        <hr>
		                        <ul class="pagination">
		                            <li>
		                                <a href="#">
		                                    <span>←</span>
		                                </a>
		                            </li>
		                            <li class="active">
		                                <a href="#">1</a>
		                            </li>
		                            <li>
		                                <a href="#">2</a>
		                            </li>
		                            <li>
		                                <a href="#">3</a>
		                            </li>
		                            <li>
		                                <a href="#">
		                                    <span>→</span>
		                                </a>
		                            </li>
		                        </ul>
		                    </div>
		                </div>

		            </section></div>


		<script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/scrollreveal.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
