<div class="main-container">

  <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center header-lead">
              <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background_small.png">
              <p class="lead">Say Hello!</p>
          </div>
      </div>
    </div>
  </section>
  
  
<style>
.sr-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
</style>
  <section>
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                  <form class="form--square form-email" action="https://getform.io/f/a2dde308-3c68-4572-9926-834e64f8b57a" method="POST">
                      <h4 class="text-center">We’d love to hear from you! Say hello here (we’re very nice).</h4>
                      <div class="input-with-icon col-sm-12">
                          <i class="icon-MaleFemale"></i>
                          <input type="text" name="name" placeholder="Your Name">
                      </div>
                      <div class="input-with-icon col-sm-6">
                          <i class="icon-Email"></i>
                          <input type="email" name="email" placeholder="Email Address">
                      </div>
                      <div class="input-with-icon col-sm-6">
                          <i class="icon-Phone-2"></i>
                          <input type="tel" name="telephone" placeholder="Phone Number">
                      </div>
                      <div class="col-sm-12">
                          <textarea name="message" placeholder="Your Message" rows="8"></textarea>
                      </div>
                      <input class="sr-only" type="text" name="1and1" placeholder="What is 1 + 1?" />

                      <div class="col-sm-12">
                          <button type="submit" class="btn btn--primary vpe">
                              Submit Form
                          </button>
                      </div>
                  </form>
              </div>
          </div>

      </div>

  </section>
<!--
    <section class="features features-10">
        <div class="feature bg--white col-md-4 text-center">
            <i class="icon icon-Email icon--lg"></i>
            <h4>Pop us an email</h4>
            <p>hello@rockstar.wedding</p>
        </div>
        <div class="feature bg--secondary col-md-4 text-center">
            <i class="icon socicon-facebook icon--lg"></i>
            <h4>Facebook</h4>
            <p>Rockstar Wedding</p>
        </div>
        <div class="feature bg--dark col-md-4 text-center">
            <i class="icon icon-Twitter icon--lg"></i>
            <h4>Twitter</h4>
            <p>@RockstarWedding</p>
        </div>
    </section>
-->
</div>
