<div class="main-container">
  <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center header-lead">
              <img alt="Rockstar Wedding" class="logo" src="img/dark_logo_transparent_background_small.png">
              <p class="lead">Gallery</p>
          </div>
      </div>
    </div>
  </section>
<section class="masonry-contained">
    <div class="container">
        <div class="row">
            <div class="masonry">
                <div class="masonry__filters" data-filter-all-text="Show All">
                  <ul>
                    <li data-masonry-filter="Cassette">Cassette</li>
                    <li data-masonry-filter="Vinyl">Vinyl</li>
                    <li data-masonry-filter="Unplugged">Unplugged</li>
                  </ul>
                </div>
                <div class="masonry__container masonry--animate masonry--active">
                    <div class="col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Unplugged">
                        <div class="portfolio-item portfolio-item-2 video-cover" data-scrim-bottom="9">
                            <div class="background-image-holder">
                                <img alt="image" src="/img/wedding-mitch.png">
                            </div>
                            <div class="portfolio-item__title">
                                <h5>The Mitches</h5>
                                <span>
                                    <em>Anthony and Kayleigh</em>
                                </span>
                            </div>
                            <div class="video-play-icon video-play-icon--sm"></div>
                            <iframe allowfullscreen="allowfullscreen" src="https://player.vimeo.com/video/192507651?badge=0&amp;title=0&amp;byline=0"></iframe>
                        </div>
                    </div><div class="col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Vinyl">
                        <div class="portfolio-item portfolio-item-2 video-cover" data-scrim-bottom="9">
                            <div class="background-image-holder">
                                <img alt="image" src="/img/gallery-truffs.png">
                            </div>
                            <div class="portfolio-item__title">
                                <h5>The Truffs</h5>
                                <span>
                                    <em>Hayley and Gareth</em>
                                </span>
                            </div>
                            <div class="video-play-icon video-play-icon--sm"></div>
                            <iframe allowfullscreen="allowfullscreen" src="https://player.vimeo.com/video/167140374?badge=0&amp;title=0&amp;byline=0"></iframe>
                        </div>
                    </div><div class="col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Cassette">
                        <div class="portfolio-item portfolio-item-2 video-cover" data-scrim-bottom="9">
                            <div class="background-image-holder">
                                <img alt="image" src="/img/cassette.png">
                            </div>
                            <div class="portfolio-item__title">
                                <h5>The Cro-barts</h5>
                                <span>
                                    <em>Stevi and Alex</em>
                                </span>
                            </div>
                            <div class="video-play-icon video-play-icon--sm"></div>
                            <iframe allowfullscreen="allowfullscreen" src="https://player.vimeo.com/video/207182645?badge=0&amp;title=0&amp;byline=0"></iframe>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</section>
</div>
