<div class="main-container">
    <section>
      <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center header-lead">
                <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background.png">
                <p class="lead">How it works</p>
            </div>
        </div>
      </div>
    </section>
  	<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-8">
                        <div class="card__image col-sm-7 col-md-6">

                                <img alt="Pic" src="/img/morreys.png">

                        </div>
                        <div class="card__body col-sm-5 col-md-6 boxed bg--white">
                            <div class="card__title">
                                <h3>INITIAL CONTACT</h3>
                                <h6>Say hello</h6>
                            </div>
                            <hr>
                            <p class="col-md-10">
                                <a href="/contact-us">Drop us an email to say hello</a>. We’ll be happy to answer any questions you have.
                            </p>
                        </div>
                    </div>

                </div><div class="col-sm-12">
                    <div class="card flipped card-8">
                        <div class="card__image col-sm-7 col-md-6">
                            <img alt="Pic" src="/img/truff-bestman-speech.png">

                        </div>
                        <div class="card__body col-sm-5 col-md-6 boxed bg--white">
                            <div class="card__title">
                                <h3>WE'LL GET BACK TO YOU</h3>
                                <h6>Hello back</h6>
                            </div>

                            <hr>
                            <p class="col-md-10">
                                If you're booking with us, we'll confirm your wedding date is in our diary and set a date to have a chat with you.
                            </p>
                        </div>
                    </div>

                </div><div class="col-sm-12">
                    <div class="card card-8">
                        <div class="card__image col-sm-7 col-md-6">

                                <img alt="Pic" src="/img/truff-signs.png">

                        </div>
                        <div class="card__body col-sm-5 col-md-6 boxed bg--white">
                            <div class="card__title">
                                <h3>BOOKING AND DEPOSIT</h3>
                                <h6>Secure your date</h6>
                            </div>

                            <hr>
                            <p class="col-md-10">We’ll confirm the date and take a £200 deposit to secure your date and your cameras.</p>
                        </div>
                    </div>

                </div><div class="col-sm-12">
                    <div class="card flipped card-8">
                        <div class="card__image col-sm-7 col-md-6">

                                <img alt="Pic" src="/img/truff-onesies.jpg">

                        </div>
                        <div class="card__body col-sm-5 col-md-6 boxed bg--white">
                            <div class="card__title">
                                <h3>BEFORE THE WEDDING</h3>
                                <h6>Be prepared</h6>
                            </div>
                            <hr>
                            <p class="col-md-10">We’ll have a chat and talk about what your guests will have to capture and your music choices.<br><br>We’ll send you lots of tips on how to get the best footage and will post the cameras to you a couple of days before your big day.&nbsp;</p>

                        </div>
                    </div>

                </div><div class="col-sm-12">
                    <div class="card card-8">
                        <div class="card__image col-sm-7 col-md-6">

                                <img alt="Pic" src="/img/wedding-mitch.png">

                        </div>
                        <div class="card__body col-sm-5 col-md-6 boxed bg--white">
                            <div class="card__title">
                                <h3>THE BIG DAY</h3>
                                <h6>It's Showtime!</h6>
                            </div>
                            <hr>
                            <p class="col-md-10">
                                Your friends and family film all of those special moments and you post the cameras back to us when you’re done.
                            </p>
                        </div>
                    </div>

                </div><div class="col-sm-12">
                    <div class="card flipped card-8">
                        <div class="card__image col-sm-7 col-md-6">

                                <img alt="Pic" src="/img/truff-wedding-party.png">

                        </div>
                        <div class="card__body col-sm-5 col-md-6 boxed bg--white">
                            <div class="card__title">
                                <h3>YOUR ROCKSTAR VIDEO</h3>
                                <h6>a view from the best seat in the house</h6>
                            </div>
                            <hr>
                            <p class="col-md-10">Depending on the time of year, your video will take 6-8 weeks but can take up to 12 weeks. </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>
	</div>
