<div class="main-container main-container--homepage">
  <section class="cover cover-10 imagebg image--light imagebg--homepage">
      <div class="background-image-holder">
          <img alt="image" src="/img/homepage-trailer.jpg">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center home-lead">
                  <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background.png">
                  <p class="lead">You film. We edit.</p>
                  <p class="sublead">Wedding videos with personality</p>
              </div>
          </div>

          <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                  <div class="video-cover">
                      <div class="background-image-holder">
                          <img alt="image" src="/img/video-poster.png">
                      </div>
                      <div class="video-play-icon"></div>
                      <iframe allowfullscreen="allowfullscreen" src="https://player.vimeo.com/video/239489962?badge=0&amp;title=0&amp;byline=0"></iframe>
                  </div>
              </div>
          </div>
      </div>

  </section>

  <section class="container homepage-feature">
      <div class="imageblock">
        <div class="imageblock__content col-md-4 col-sm-3 pos-left">
            <div class="background-image-holder">
                <img alt="image" src="img/homepage-welcome.jpg">
            </div>
        </div>

        <div class="row row--no-adjust">
            <div class="col-md-8 col-md-push-4 col-sm-8 col-sm-push-4 homepage-feature__box">
                <h3>Welcome to Rockstar Wedding!</h3>
                <p class="lead">If you're looking for a wedding video with a little personality, you're in the right place.</p>
                <p>We make fun, alternative wedding videos that are packed with laughs, personality and ace music that reflects you as a couple and your wedding day!</p>
            </div>
        </div>
      </div>
      <div class="imageblock">
        <div class="imageblock__content col-md-8 col-md-push-4 col-sm-3 pos-right">
            <div class="background-image-holder">
                <img alt="image" src="img/homepage-2.jpg">
            </div>
        </div>
        <div class="row row--no-adjust">
            <div class="col-md-4 col-sm-8 homepage-feature__box">
                <h3>We don't film&hellip; </br>You do!</h3>
                <p>What better way to put everyone at ease than to get your own friends and family to capture the best moments?</p>
                <a class="btn btn--primary btn--sm" href="/how-it-works">
                  <span class="btn__text">Find out more</span>
                </a>
            </div>
        </div>
      </div>

  </section>

  <section>
      <div class="container">
          <div class="row">

              <div class="col-md-4 col-sm-6">
                  <div class="pricing pricing-3 text-center">
                      <img alt="Pricing" src="/img/cassette.png">
                      <div class="pricing__body">
                          <a class="btn btn--primary" href="/packages-and-pricing#cassette">
                              <span class="btn__text">
                                  more info</span>
                          </a>
                          <h5>Cassette</h5>
                          <hr>
                          <p>5 minute music video <br>1 Camera <br>Up to 3 hours filming<br></p>
                      </div>
                  </div>

              </div><div class="col-md-4 col-sm-6">
                  <div class="pricing pricing-3 text-center">
                      <img alt="Pricing" src="/img/pack-vinyl.jpg">
                      <div class="pricing__body">
                          <a class="btn btn--primary" href="/packages-and-pricing#vinyl" target="_self">
                              <span class="btn__text">
                                  more info</span>
                          </a>
                          <h5>Vinyl</h5>
                          <hr>
                          <p>15 minute highlights video <br>2 Cameras <br>Up to 6 hours filming</p>
                      </div>
                  </div>

              </div><div class="col-md-4 col-sm-6" style="padding-right: 0;">
                  <div class="pricing pricing-3 text-center">
                      <img alt="Pricing" src="/img/mitch1.jpg">
                      <div class="pricing__body">
                          <a class="btn btn--primary" href="/packages-and-pricing#unplugged">
                              <span class="btn__text">
                                  more info</span>
                          </a>
                          <h5>Unplugged</h5>
                          <hr>
                          <p>Unlimited length <br>2 Cameras and top lights<br> Extra footage</p>
                      </div>
                  </div>

              </div>
          </div>

      </div>

  </section>

  <section>
    <div class="container">
      <div class="row">
          <div class="pad-all bg-fill--light clearfix">
              <h3>Frequently asked questions</h3>
              <p>People often ask us things like "What if the important bits are missed?", "What makes you better?", "Another thing here?"</p>
              <p>Well, we wrote down our answers! <a href="/frequently-asked-questions">Head over to our FAQ page</a>.</p>
          </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="pad-all bg-fill--light clearfix">
          <div class="homepage-loc__desc">
            <h3>We're UK Wide!</h3>
            <p>We can post our cameras UK wide, but that doesn’t mean your wedding has to be in the UK! If you’re getting married abroad we can send you your cameras before you go.</p>
            <p>And in case you’re wondering - we’re based in Surrey!</p>
          </div>
          <div class="homepage-loc__img">
            <img alt="image" src="img/we-are-uk-wide.png" class="location__image">
          </div>
        </div>
      </div>


    </div>
  </section>

  </div>
