

<div class="main-container">
  <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center header-lead">
              <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background_small.png">
              <p class="lead">Privacy Policy</p>
          </div>
      </div>
    </div>
  </section>

    <section>
        <div class="container">
            <div class="row">
              <p>We collect certain information or data about you when you use the Rockstar Wedding website or interact with social profiles or adverts.</p>

                    <p>We collect:</p>

                    <ul class="bullets">
                      <li>The information you send us if you contact Rockstar Wedding</li>
                      <li>your IP address, and details of which version of web browser you used</li>
                      <li>information on how you use the site, using cookies and page tagging techniques</li>
                      <li>where you visited rockstar.wedding from</li>
                    </ul>

                    <p>This data can be viewed by the small Rockstar Wedding team to:</p>

                    <ul class="bullets">
                      <li>improve the site by monitoring how you use it</li>
                      <li>gather feedback to improve our services, for example our email alerts</li>
                      <li>respond to any feedback you send us, if you’ve asked us to</li>
                      <li>provide you with information about our services services if you want it</li>
                    </ul>
                    
                    <h2>Email newsletters</h2>
                    
                    <p>When you sign up to our email newsletters, we collect:</p>

                    <ul class="bullets">
                      <li>Your name</li>
                      <li>Your email</li>
                      <li>Your wedding date</li>
                      <li>Where you signed up from</li>
                    </ul>
                    
                    <p>We use this data to:</p>
                     <ul class="bullets">
                      <li>Personalise your experience and send you relevant emails for discounts on Rockstar Wedding</li>
                      <li>Specifically, send you emails based on the closeness to your wedding date</li>
                      <li>Allow third parties to allow us to send their offers if you requested this</li>
                    </ul>
                    
                    <p>We will never directly share your email address with third-parties</p>

                    <h2 id="where-your-data-is-stored">Where your data is stored</h2>

                    <p>We store your data on secure, encrypted servers using a third party data store called <a href="https://support.airtable.com/hc/en-us/articles/203466199-Airtable-security-practices">Airtable</a> and passed through an ephemeral datastore called <a href="https://zapier.com/help/data-privacy/">Zapier</a>.</p>
                    
                    <p>We also use <a href="https://mailchimp.com/">Mailchimp</a> for our email newsletters, you can <a href="https://mailchimp.com/legal/privacy/">find their privacy policy here</a>.
                    
                    <p>By submitting your personal data, you agree to this.</p>

                    <h2 id="keeping-your-data-secure">Keeping your data secure</h2>

                    <p>Sending information over the internet is generally not completely secure, and we can’t guarantee the security of your data while it’s in transit.</p>

                    <p>Any data you send is at your own risk.</p>

                    <p>We have procedures and security features in place to keep your data secure once we receive it.</p>

                    <h2 id="disclosing-your-information">Disclosing your information</h2>

                    <p>We may pass on your personal information if we have a legal obligation to do so, or if we have to enforce or apply our booking terms and conditions and other agreements.</p>

                    <p>We won’t share your information with any other organisations for marketing, market research or commercial purposes, and we don’t pass on your details to other websites.</p>

                    <h2 id="your-rights">Your rights</h2>

                    <p>You can find out what information we hold about you, and <a href="/contact-us">ask us</a> not to use any of the information we collect.</p>

                    <h3 id="following-a-link-to-another-website">Following a link to another website</h3>

                    <p>If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.</p>

                    <h3 id="following-a-link-to-rockstar-wedding-from-another-website">Following a link to Rockstar Wedding from another website</h3>

                    <p>If you come to rockstar.wedding from another website, we may receive information from the other website. You should read the privacy policy of the website you came from to find out more about this.</p>

                    <h2 id="booking-with-rockstar-wedding">Booking with Rockstar Wedding</h2>

                    <p>Note that this privacy policy only applies to the Rockstar Wedding website. When booking with Rockstar Wedding, you will need to sign a Terms and Conditions that explains how we use the footage you shoot.</p>
                </div>

            </div>

        </div>

    </section>
</div>
