<div class="main-container">
    <section>
      <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center header-lead">
                <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background_small.png">
                <p class="lead">Testimonials</p>
            </div>
        </div>
      </div>
    </section>
    <section class="testimonial testimonial-3">
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <img alt="avatar" src="/img/Carey_David_testimonial.png">
            </div>
              <div class="col-sm-6 col-sm-pull-6">
                  <div class="testimonial__text">
                      <blockquote>
                          “We were absolutely blown away. What an amazing video, you did such a great job and we couldn't be more thrilled. Carey and I enjoyed it so much and had a good chuckle at some of the moments captured.
                            <br/>We will be vehemently recommending you to anyone who will be getting married in the future and using our video as an example.”
                      </blockquote>
                      <h5>— Carey and David</h5>
                      <span class="h6">Awesome woodland wedding, Nottingham</span>
                  </div>
              </div>
          </div>

      </div>

    </section>

<section class="testimonial testimonial-3">
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <img alt="avatar" src="/img/thesmiths-testimonials.jpg">
            </div>
              <div class="col-sm-6 col-sm-pull-6">
                  <div class="testimonial__text">
                      <blockquote>
                          “Love love love our amazing wedding video from Rockstar Wedding Video. We LOVE the blog and footage they have put together. Made our day!”
                      </blockquote>
                      <h5>— Donna and Stephen</h5>
                      <span class="h6">INTIMATE WEDDING IN YORKSHIRE</span>
                  </div>
              </div>
          </div>

      </div>

    </section>

    <section class="testimonial testimonial-3">
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <img alt="avatar" src="/img/mitches-cutout.png">
            </div>
              <div class="col-sm-6 col-sm-pull-6">
                  <div class="testimonial__text">
                      <blockquote>
                          “A fun, clever and unique way to capture such a wonderful day! Loved watching it back with family and friends and re-living the day; even saw some fun stuff we hadn't seen before <span class="no-italics">😝</span>”
                      </blockquote>
                      <h5>— Anthony and Kayleigh</h5>
                      <span class="h6">weekend camping wedding extravaganza, surrey</span>
                  </div>
              </div>
          </div>

      </div>

    </section>
    <section class="testimonial testimonial-3">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                  <img alt="avatar" src="/img/tess-morag-testimonials.png">
              </div>
                <div class="col-sm-6 col-sm-pull-6">
                    <div class="testimonial__text">
                        <blockquote>
                            “Thanks so much it's lovely. The girls will be absolutely delighted.
<br>Once again thanks, it's great and you made it such an easy process.”
                        </blockquote>
                        <h5>— Sarah (bought as a gift for Tess and Morag)</h5>
                        <span class="h6">BEAUTIFUL COTTAGE WEDDING IN THE LAKE DISTRICT</span>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="testimonial testimonial-3">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                  <img alt="avatar" src="/img/steve-curve-cutout.png">
              </div>
                <div class="col-sm-6 col-sm-pull-6">
                    <div class="testimonial__text">
                        <blockquote>
                            “HAYLEY, YOU ABSOLUTE LEGEND, I'm balling my eyes out!!!! Thank you SO SO MUCH... what an absolutely beautiful memory. WE LOVE IT. Couldn't have done any better babes, it's perfect xxx”
                        </blockquote>
                        <h5>— Stevi and Alex</h5>
                        <span class="h6">lovely jubbly brighton cinema ceremony</span>
                    </div>
                </div>
            </div>

        </div>

    </section><section class="testimonial testimonial-3">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                  <img alt="avatar" src="/img/o-rourke-testimonials.png">
              </div>
                <div class="col-sm-6 col-sm-pull-6">
                    <div class="testimonial__text">
                        <blockquote>
                            “Hayley, that video is AMAZING!!! Thank you sooooooo much. I feel like it was a blur but so happy I can look back on it all. 
<br>It's just amazing and so much more special than pictures.”
                        </blockquote>
                        <h5>— Kate and Joe O'Rourke</h5>
                        <span class="h6">FUN FILLED FAMILY WEDDING IN NEWCASTLE UNDER LYME</span>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>
