<div class="main-container">
    <section>
      <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center header-lead">
                <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background.png">
                <p class="lead">Testimonials</p>
            </div>
        </div>
      </div>
    </section>
    <section class="testimonial testimonial-3">
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <img alt="avatar" src="/img/mitches-cutout.png">
            </div>
              <div class="col-sm-6 col-sm-pull-6">
                  <div class="testimonial__text">
                      <blockquote>
                          “A fun, clever and unique way to capture such a wonderful day! Loved watching it back with family and friends and re-living the day; even saw some fun stuff we hadn't seen before <span class="no-italics">😝</span>”
                      </blockquote>
                      <h5>— Anthony and Kayleigh</h5>
                      <span class="h6">weekend camping wedding extravaganza, surrey</span>
                  </div>
              </div>
          </div>

      </div>

    </section><section class="testimonial testimonial-3">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                  <img alt="avatar" src="/img/steve-curve-cutout.png">
              </div>
                <div class="col-sm-6 col-sm-pull-6">
                    <div class="testimonial__text">
                        <blockquote>
                            “HAYLEY, YOU ABSOLUTE LEGEND, I'm balling my eyes out!!!! Thank you SO SO MUCH... what an absolutely beautiful memory. WE LOVE IT. Couldn't have done any better babes, it's perfect xxx”
                        </blockquote>
                        <h5>— Stevi and Alex</h5>
                        <span class="h6">lovely jubbly brighton cinema ceremony</span>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>
