

<div class="main-container">
  <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center header-lead">
              <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background_small.png">
              <p class="lead">Winning with Rockstar Wedding</p>
          </div>
      </div>
    </div>
  </section>

    <section>
        <div class="container">
            <div class="row">
                <h2>T&amp;Cs</h2>

                <p>Winner will be chosen at random.<p>
                <p>On all competitions where the winner wins a wedding video from Rockstar Wedding, there will be a £200 camera deposit which will be fully refunded once they are returned.</p>
                <p>Entries are for UK residents only.</p>
                <p>Winners will be contacted within 28 days of the closing date by the contact details they supply and have 28 days to respond.</p>
                <p>Prizes are non-transferable and are only redeemable as Rockstar Wedding packages.</p>
                <p>You may add funds to upgrade a more expensive package than the one you've won.</p>
                <p>Rockstar Wedding T&Cs apply and will be sent to the winner.</p>
                <p>This competition is in no way sponsored, endorsed or affiliated with any third parties, including The National Wedding show and Facebook. Third parties will not be held liable for anything related to this promotion.</p>
                <h2>Privacy Policy</h2>
                <p>You can read our <a href="https://rockstar.wedding/privacy-policy">Privacy Policy here.</a></p>
            </div>

            </div>

        </div>

    </section>
</div>
