/***************************
Add your custom styles below
****************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
}

.row--no-adjust {
  margin: 0;
}

.pad-all {
  padding: 15px 25px;
}

.bg-fill--light {
  background-color: #fff;
}

.nav-bar .logo {
  max-width: 160px;
}

/* Layout */

.cols > div {
  width: 50%;
  padding: 0 10px;
}

@media all and (max-width: 768px) {
  .cols > div {
    width: 100%;
  }
}

section, footer {
    padding-top: 1.5em;
    padding-bottom: 4em;
}

.dashed-divider {
  border-top: 1px dashed #ccc;
}

/* Home */

.main-container--homepage {
  background: url("/img/homepage-confetti.jpg");
  background-size: cover;
}

.imagebg--homepage {
  background-color: #f8f8f8;
  z-index: 1;
}

.home-lead .lead,
.home-lead .sublead {
  margin-top: 10px;
  color: #00261C;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6), 2px 2px 0 rgba(255,255,255,0.4), 3px 3px 0 rgba(255,255,255,0.2);
}

.home-lead .lead {
  margin-bottom: 0;
  text-transform: uppercase;
}

.home-lead .sublead {
  font-size: 20px;
}

.home-lead .logo {
  max-width: 450px;
  width: 100%;
}

.cover-10 .logo {
  max-height: 100em;
}

.cover-10 .video-cover {
  margin-top: 0;
}

.homepage-feature {
  background-color: #fff;
  margin-top: -25px;
  margin-bottom: 4em;
  padding: 0;
  position: relative;
  z-index: 2;
}

.homepage-feature__box {
  padding: 15px 25px;
}

.homepage-loc__desc {
  float:right;
  padding-left: 1em;
  width: 80%;
}

@media all and (min-width: 1024px) {
  .homepage-loc__desc {
    padding-left: 1.5em;
  }
}

.homepage-loc__img {
  float: left;
  max-width: 220px;
  width: 20%;
}

@media all and (min-width: 1024px) {
  .homepage-feature__bottom {
    min-height: 315px;
  }
}
/* How it works */

.card-8 .card__title h3 {
  max-width: 100%;
}

/* Helper classes */

.no-italics {
  font-style: normal;
}

.main-nav-social-list {
  line-height: 62px !important;
  padding-right: 20px;
}

/* Gallery */
.portfolio-item .portfolio-item__title {
  bottom: 0;
}

.portfolio-item__title h5 {
  background-color: rgba(0,34,26,0.5);
  font-size: 30px;
  font-weight: normal;
  padding: 5px 0;
}


.portfolio-item__logo {
  position: absolute;
  bottom: 0;
  left: 5px;
  display: block;
  width: 16%;
  z-index: 5;
}

@media all and (min-width: 480px) {
  .portfolio-item__logo {
    width: 23.5%;
  }
}

.portfolio-item.reveal-video .portfolio-item__logo {
  opacity: 0;
  pointer-events: none;
}

/* Header */

.header-lead .lead {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
  color: #000;
}

@media all and (max-width: 768px) {
  .header-lead .lead {
    font-size: 40px;
  }
}

.header-lead .logo {
  max-width: 185px;
}

/* Fake Tabs */


.fake-tabs > li {
  opacity: 1;
  pointer-events: none;
}

/* footer */

.rw-footer {
  background-color: #efefef;
  border-top: 1px solid #e6e6e6;
}

.footer-3 .logo {
  max-height: 3.4375em;
}

/* button */

.btn--primary, .btn--primary:visited {
    background: rgb(0,28,38);
    border-color: #000;
}

.btn.btn--primary {
  border-color: #000;
}

.btn.btn--primary:hover {
  background-color: #000;
  border-color: #000 !important;
}

/* Testimonial */

@media (max-width: 767px) {
  .testimonial-3 .testimonial__text {
      margin-top: 1em;
  }
}

/* Embeds */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.giphy-embed {
  margin-bottom: 3.25em;
}

iframe {
  background: none;
}

/* FAQ Page */
.question-link-wrapper {
  column-count: 2;
  padding: 0 10px
}

@media all and (min-width: 768px) {
  .question-link-wrapper {
    column-count: 3;
    padding: 0;
  }
}
.question-item {
  line-height: 1.3em;
  margin-bottom: 10px;
}


  .question-item {
    margin-bottom: 15px;
    position: relative;
    background: #fff;
  }

  .question-item:before {
    content: '';
    position: absolute;
    top: 0;
    width: 3px;
    left: 0;
    height: calc(1em + 35px);
    background-color: #ccc;
  }


.question--link {
  width: 100%;
  padding: 15px;
  display: inline-block;
  transition : background-color 200ms ease-out;
}


.question-item:hover,
.question-item:focus {
  background-color: rgba(255,255,255,0.7);
}

.question-item:hover:before,
.question-item:focus:before {
  background-color: #444;
}

.question-wrapper {
  margin-top: 50px;
}

@media all and (min-width: 768px) {
  /*.question-wrapper {
    column-count: 2;
  }*/
}

.question {
    background: #fff;
    break-inside: avoid;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-left: 5px solid #ccc;
}

.question--title {
  border-bottom: 1px solid #f6f6f6;
}
